@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border-2 border-white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}